:root {
--teal: #0097a7;
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 24px;
}

header {
    background: linear-gradient(aquamarine, var(--teal));
}

#topper {
    display: flex;
    justify-content: center;
}

#topper h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

header img {
    border: 5px solid black;
    margin: 10px;
    max-width: 108px;
    max-height: 108px;
}

nav ul {
    display: flex;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    /* Places nav-bar to the left of the screen */
    justify-content: flex-end;
    
}

nav li a {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* When one of the links in the nav bar is hovered over, the color changes */
nav li a:hover {
    background-color: var(--teal);
    color: #e7e7e7;
}

article a {
    text-decoration: none;
}

.center {
    text-align: center;
}

#about-me {
    padding-top: 15px;
    display: grid;
    /* 1 column is 30% of the width, 3 more take up the remaining space evenly */
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 1em 20px;
}

/* sets the area of the element in the grid */
#paragraph-one {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#paragraph-two {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#deployed-applications {
    padding-top: 25px;
    display: grid;
    /* 1 column is 30% of the width, three evenly take up the rest of the width */
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 20px 33vw 15vw;
    gap: 1em 20px;
}

#deployed-applications p {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#card1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#card1 img {
    /* blurs and darkens the image when not hovered over */
    filter: brightness(66%) blur(2px);
    border-radius: 35px;
    max-width: 70%;  
    background-size: cover;
}

#card1 img:hover {
    /* removes blur and darken */
    filter: none;
}

#card1 h3 {
    position: absolute;
    background-color: var(--teal);
    color: white;
    padding: 5px 30px 20px 5px;
    border: 1px dashed black;
    bottom: -5px;
    left: 35%;
}

.cards {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.cards img {
    /* blurs and darkens the image when not hovered over */
    filter: brightness(66%) blur(2px);
    border-radius: 12px;
    max-width: 80%;  
    background-size: cover;
}

.cards img:hover {
    /* removes blur and darken */
    filter: none;
}

.cards h4 {
    position: absolute;
    font-size: 12px;
    background-color: var(--teal);
    color: white;
    padding: 5px 8px 20px 5px;
    border: 1px dashed black;
    bottom: -280px;
}

/* This is basically just a duplicate that I can hide once the screen gets too small */
.cards h5 {
    position: absolute;
    font-size: 12px;
    background-color: var(--teal);
    color: white;
    padding: 5px 8px 20px 5px;
    border: 1px dashed black;
    bottom: -280px;
}

footer {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1em 20px;
    padding-bottom: 10px;
}

/* Shift the title of the card up when below 1090px */
@media screen and (max-width: 1090px) {
    .cards h4 {
        position: absolute;
        bottom: -200px;
        font-size: 70%;
    }
}

@media screen and (max-width: 925px) {
    /* Hides the extra title from the first card so it can be displayed differently. */
    /* This is such an ugly workaround, FIX LATER */
    .hide2 {
        display: none;
    }
    .cards h4 {
        position: static;
        display: inline;
        font-size: 12px;
        background-color: var(--teal);
        padding: 0%;
        color: white;
        border: 1px dashed black;
    }
}

@media screen and (max-width: 870px) {
    /* Changes the header to wrap when screen is below 870px */
    #topper {
        flex-wrap: wrap;
    }
    #topper h1 {
        padding: 10px;
        margin: 5%;
    }
    /* Column nav bar */
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        border: 1px solid black;
        padding: 5px;
    }
    #about-me {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    /* More ugly workaround, FIX LATER */
    .hide1 {
        display: none;
    }
    #deployed-applications {
        display: flex;
        flex-wrap: wrap;
    }
    #card1 h3 {
        position: static;
        padding: 0%;
        text-align: center;
    }
    #card1 img {
        max-width: 100%;
    }
    .cards h4 {
        font-size: 100%;
        display: block;
        text-align: center;
    }
    .cards img {
        max-width: 100%;
    }
}

@media screen and (max-width: 280px) {
    * {
        font-size: 12px;
    }
}